[package]
    edition = "2024"
    name = "freertos-rust-example"
    version = "0.1.0"

    # See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
    cortex-m = "0.7"
    cortex-m-rt = "0.7"
    embedded-hal = "1.0"
    nb = "1.1"
    [dependencies.freertos-rust]
        default-features = false
        features = ["allocator", "sync", "time", "hooks", "interrupt"]
        path = "../FreeRTOS-rust/freertos-rust"

    [dependencies.stm32f1xx-hal]
        features = ["rt", "stm32f103", "medium"]
        version = "0.10.0"

[build-dependencies]
    freertos-cargo-build = { path = "../FreeRTOS-rust/freertos-cargo-build" }

[profile.release]
    # symbols are nice and they don't increase the size on Flash
    debug = true
    lto = true
    # codegen-units = 1
    opt-level = 0
    # panic = 'abort'
